$color2: #abc;

div.2 { color: lighten($color2, 20%); }


.navigation2 {
    ul {
        line-height: 20px;
        color: blue;
        a {
            color: red;
        }
    }
}

.footer2 {
    .copyright2 {
        color: silver;
    }
}

.scss2 {padding:10px;background-color:green;color:#fff}
